@charset "utf-8";
/* CSS Document */
body {
    background-color: darkgrey;
    background-image: url("sitebg.jpg");
    color: palevioletred;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-shadow: 1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	
	
		}
#Header{
	background: #8E0E89;
}
		.Heading {
    color: #D4D4D4;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    text-align: center;
    text-shadow: -3px -1px 0px #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	fill: none;
  stroke: black;
  stroke-width: .5px;
  stroke-linejoin: round;
		}

/*main body */
#toptext{
	color: #fff;
}

/*Nav Bar */
.nav {
    background: #E805D8;
    text-shadow: none;
    font-size: 29px;
	outline-color: black;
	text-align: center;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* sidebar */
.sidebar
{
    float: right;
    width: 210px;
    padding: 0 15px 20px 15px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    color: #EDE6E7;
    text-shadow: -3px -1px 0px #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    background-color: #2B2127;
}
#social{
    background-color: #920D54;
}

/* footer*/
footer
{
    width: 898px;
    height: 33px;
    padding: 30;
    padding-botom: 300;
    text-align: center;
    background: transparent;
    color: #FFF;
    background-color: #920D54;
    letter-spacing: 0.1em;
}


